@model Group03_PS.Models.Teacher;


@{
    ViewData["Title"] = "Teacher Details";
}


<br />
<br />
<div class="container">


    <h2>Id             : @Model.TeacherId</h2>
    <h2>Name           : @Model.TeacherName</h2>
    <h2>Adress         : @Model.Address</h2>
    <h2>Phone          : @Model.Phone</h2>
   

</div>